@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

:root {
    --pm: #088cdc;
    --black: #000030;
}

body {
    margin: 0;
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    height: 100vh;
    width: 100%;
}

.nav {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    background-color: var(--pm);
    padding: 10px;
    height: 70px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.nav-item {
    margin: auto 0 auto 0;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
}

a.nav-item {
    text-decoration: none;
    color: white;
}

a.nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: calc(100% - 110px);
    margin: 20px;
}

.table-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    overflow-x: auto;
}

.table-column {
    display: flex;
    flex-direction: column;
    overflow: visible;
    flex: 0 1 300px;
    margin: 20px 25px;
    padding: 0 20px;
    min-width: 250px;
    max-width: 100%;
    align-items: center;
    border-radius: 10px;
    background-color: whitesmoke;
}

.table-header {
    margin: 10px 0;
    font-size: larger;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid var(--black);
}

.box {
    background-color: white;
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
    color: var(--black);
    font-weight: normal;
}

.box:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}

.box>h1 {
    padding: 0px 3px;
}

.box-title {
    display: inline;
    font-size: x-large;
    color: var(--black);
}

.box-title:hover {
    text-decoration: underline;
    color: var(--pm);
    cursor: pointer;
}

.box-priority-high>h1 {
    margin: 0;
    font-size: medium;
    padding: 0px 10px;
    background-color: rgb(220, 150, 150);
    display: inline;
    border-radius: 5px;
    padding-right: auto;
}

.box-date {
    margin: 3px 0;
    font-size: larger;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vertical-line {
    align-self: center;
    margin: 0;
    border-right: 2px solid #00003050;
    height: 90%;
}

.fullscreen {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.login {
    font-size: larger;
    display: inline;
    background-color: var(--pm);
    color: white;
    border-radius: 10px;
    padding: 5px 30px;
}

.login:hover {
    text-decoration: underline;
    background-color: #0b7abf;
    cursor: pointer;
}

.scrollable {
    width: 100%;
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: visible;
}