@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

:root {
    --pm: #088cdc;
    --black: #000030;
}

body {
    margin: 0;
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    height: 100vh;
    width: 100%;
}

.nav {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    background-color: var(--pm);
    padding: 10px;
    height: 70px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.nav-item {
    margin: auto 0 auto 0;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
}

a.nav-item {
    text-decoration: none;
    color: white;
}

a.nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: calc(100% - 110px);
    margin: 20px;
}

.table-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    overflow-x: auto;
}

.table-column {
    display: flex;
    flex-direction: column;
    overflow: visible;
    flex: 0 1 300px;
    margin: 20px 25px;
    padding: 0 20px;
    min-width: 250px;
    max-width: 100%;
    align-items: center;
    border-radius: 10px;
    background-color: whitesmoke;
}

.table-header {
    margin: 10px 0;
    font-size: larger;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid var(--black);
}

h1 {
    color: var(--black);
    font-weight: normal;
}

.box {
    background-color: white;
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s;
    transition-timing-function: ease;
}

.box:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}

.box>h1 {
    padding: 0px 3px;
}

.box-title {
    display: inline;
    font-size: x-large;
    color: var(--black);
}

.box-priority {
    display: inline;
    font-size: x-large;
    color: var(--black);
}

.box-title:hover {
    text-decoration: underline;
    color: var(--pm);
    cursor: pointer;
}

.box-priority-high>h1 {
    margin: 0;
    font-size: medium;
    padding: 0px 10px;
    background-color: rgb(220, 150, 150);
    display: inline;
    border-radius: 5px;
    padding-right: auto;
}

.box-date {
    margin: 3px 0;
    font-size: larger;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vertical-line {
    align-self: center;
    margin: 0;
    border-right: 2px solid #00003050;
    height: 90%;
}

.fullscreen {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.login {
    font-size: larger;
    display: inline;
    background-color: var(--pm);
    color: white;
    border-radius: 10px;
    padding: 5px 30px;
}

.login:hover {
    text-decoration: underline;
    background-color: #0b7abf;
    cursor: pointer;
}

.scrollable {
    width: 100%;
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: visible;
}




/* css added */

.box-title-2 {
    margin: 0;
    padding: 0px 3px 12px;
    font-size: medium;
    font-weight: normal;
    display: block;
    color: var(--black);
    padding-right: auto;
}

.box-add-new-list {
    margin: 0;
    font-size: x-large;
    text-align: center;
    color: rgb(175, 175, 175);
}

.box-add-new-list-2 {
    margin: 0;
    padding-bottom: 3px;
    font-size: x-large;
    font-weight: normal;
    text-align: center;
    color: rgb(175, 175, 175);
}

.column-add-new-list {
    padding-top: 190px;
    font-size: x-large;
    text-align: center;
    color: rgb(175, 175, 175);
}

.column-add-new-list-2 {
    margin: 0;
    font-size: x-large;
    font-weight: normal;
    text-align: center;
    color: rgb(175, 175, 175);
}

.box-priority-low>h1 {
    margin: 0;
    font-size: medium;
    padding: 0px 10px;
    background-color: rgb(255, 238, 131);
    display: inline;
    border-radius: 5px;
    padding-right: auto;
}

.box-priority-medium>h1 {
    margin: 0;
    font-size: medium;
    padding: 0px 10px;
    background-color: rgb(239, 176, 66);
    display: inline;
    border-radius: 5px;
    padding-right: auto;
}

.box-priority-completed>h1 {
    margin: 0;
    font-size: medium;
    padding: 0px 10px;
    background-color: rgb(119, 215, 55);
    display: inline;
    border-radius: 5px;
    padding-right: auto;
}

.table-header-no-status {
    margin: 10px 0;
    font-size: larger;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid var(--black);
    background-color: rgb(234, 234, 234);
}

.table-header-next-up {
    margin: 10px 0;
    font-size: larger;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid var(--black);
    background-color: rgb(255, 253, 146);
}

.table-header-in-progress {
    margin: 10px 0;
    font-size: larger;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid var(--black);
    background-color: rgb(255, 197, 103);
}

.table-header-in-progress {
    margin: 10px 0;
    font-size: larger;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid var(--black);
    background-color: rgb(255, 197, 103);
}

.table-header-completed {
    margin: 10px 0;
    font-size: larger;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid var(--black);
    background-color: rgb(148, 255, 76);
}

.table-add-new-list {
    display: flex;
    flex-direction: column;
    overflow: visible;
    flex: 0 1 300px;
    margin: 20px 25px;
    padding: 0 20px;
    min-width: 250px;
    max-width: 100%;
    align-items: center;
    border-radius: 10px;
    background-color: whitesmoke;
}

.table-add-new-list:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}



/* Popup box BEGIN */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    }
    .popUpScreen {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    }
    .popup-content button {
    display: block;
    margin: 0 auto;
    }
    .show {
    display: block;
    }
    .status-to-add {
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888888;
        width: 30%;
        font-weight: bolder;
        }


